/* Import fonts from the cloud bucket */
@import url('https://storage.googleapis.com/underdog-protocol/fonts/fonts.css');

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
